<!doctype html>

<html>
<head>
	<title>bottomsUp: Homepage</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- <link href="/css/bootstrap-theme.min.css" rel="stylesheet"> -->
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/flat-ui.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body class="homepage">
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="buttonHolder">
			<!-- <img class="fitWidth" src="http://www.ru.nl/publish/pages/713224/alcohol.jpg"> -->
			<!-- <img class="fitWidth" src="/images/12.jpg"> -->
			<!-- <img class="fitWidth" src="http://i.imgur.com/omylSok.jpg"> -->
			<!-- <img class="fitWidth" src="images/BottomsUp-final.png"> -->
			<!-- <a class="fitWidth" href="cabinet"><button class="btn btn-block btn-primary">My Cabinet</button></a> -->
			<button class="btn btn-inverse" id="begin-button"><a href="cabinet" id="cabinet-button">Let's get started!</a></button>
			</br>
			</br>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/bootstrap-switch.js"></script>
    <script src="/js/flatui-checkbox.js"></script>
    <script src="/js/flatui-radio.js"></script>
    <script src="/js/jquery.tagsinput.js"></script>
    <script src="/js/jquery.placeholder.js"></script>
</body>
</html>
