/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

.fitWidth {
     width:100%;
}

.listImage {
     width:40px;
     height:40px;
}

#navbar-collapse-01 {
     text-align: center;
}

#navbar-collapse-01 ul {
    /*display: inline-block;*/
    width: 100%;
    /*list-style-type: none;
    margin-left: auto;
    margin-right: auto;*/
}
