/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

.fitWidth {
     width:100%;
}

.listImage {
     width:50px;
     height: auto;
     max-height: 80px;
     min-height: 60px;
}

.displayImage {
    width: 100px;
    height: 200px;
}

.alcohol-display {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.tbr {
    display: inline-block;
}

.drinks {
    display: block;
}

.recipeImage {
    width: 100px;
    height: 200px;
    float: left;
}

.recipeGrid {
    margin-left: 30px;
    margin-right: 30px;
}


#navbar-collapse-01 {
     text-align: center;
}

#navbar-collapse-01 ul {
    /*display: inline-block;*/
    width: 100%;
    /*list-style-type: none;
    margin-left: auto;
    margin-right: auto;*/
}

#custom-navbar {
     background-color: #F0F0F0;
     margin: 0 auto; 
     text-align: center;
     width: inherit;
     display: inline-block;
}

#cabinet-tab {
     display: inline-block;
     text-align: center;
     margin: auto;
}

#makedrinks-tab {
     float: right;
}

.recipeTitle {
    font-weight: bold;
}

.btn-group-wrap {
    text-align: center;
}

div.btn-group {
    margin: 0 auto; 
    text-align: center;
    width: 100%;
    display: inline-block;
}

a {
    float: left;   
}
